.container{
    width: 90%;
    margin: 0 auto;
    .content_part{
        .content_inside{
            border-bottom: 1px solid rgb(168, 168, 168);
            padding-bottom: 10px;
      
        }
    }
}
.img_wrapper{
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
    span{
        display: block;
    }
                }